@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Cart.cshtml";
}
@* thong tin gio hàng *@

@*<section class="shop-feature bg-gray grid">
        <div>
            <p class="fs-montserrat text-black">
                Home <span aria-hidden="true" class="margin">></span> Cart
            </p>
        </div>
        <h2 class="fs-poppins fs-300 bold-700">Cart</h2>
    </section>

    <div class="box">

        <input type="text" hidden class="form-control" id="search" />

        <div class="card">
            <div class="card-header" style="text-align:center;">
                <h4>GIỎ HÀNG</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Ảnh
                                    </th>
                                    <th>
                                        Tên sản phẩm

                                    </th>
                                    <th>
                                        Màu sắc
                                    </th>
                                    <th>
                                        Xuất xứ
                                    </th>
                                    <th>
                                        Đơn giá
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Thành tiền
                                    </th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>

                            <tbody id="tbData"></tbody>

                        </table>
                        <div>
                            <div class="col-md-3 p-1">
                                Tổng tiền
                            </div>
                            <div class="col-md-3 p-1">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="tongtien" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" placeholder="Họ tên người nhận" />
                                </div>
                            </div>
                            <div class="col-md-12 p-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="sdt" placeholder="Số điện thoại người nhận" />
                                </div>
                            </div>
                            <div class="col-md-12 p-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ người nhận" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="form-group" style="text-align:center;">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" id="order" class="btn btn-primary">Đặt hàng</button>

        </div>
    </div>*@

<section class="table">
    <input type="text" hidden class="form-control" id="search" />
    <table>
        <thead class="thead fs-poppins text-black bold-700 bg-very-light-gray">
            <tr>

                <td></td>
                <td>Tên sản phẩm</td>
                <td>Màu sắc</td>
                <td>Xuất xứ </td>
                <td>Price</td>
                <td>Số lượng</td>
                <td>Thành tiền</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tbData">
        </tbody>
    </table>

    <div class="copen-box flex">
        <div>
            <input class="copen-input fs-poppins text-black" type="text">
            <button class="cupen-btn fs-poppins bold-700 text-black">Apply coupen</button>
        </div>
        <div>
            <button class="cupen-btn fs-poppins bold-700 text-black">Update cart</button>
        </div>
    </div>

</section>


<section class="check-out grid">

    <div>
        <div class="col-md-12 p-1">
            <div class="input-group">
                <input type="text" class="form-control" id="name" placeholder="Họ tên người nhận" />
            </div>
        </div>
        <div class="col-md-12 p-1">
            <div class="input-group">
                <input type="text" class="form-control" id="sdt" placeholder="Số điện thoại người nhận" />
            </div>
        </div>
        <div class="col-md-12 p-1">
            <div class="input-group">
                <input type="text" class="form-control" id="address" placeholder="Địa chỉ người nhận" />
            </div>
        </div>
    </div>
    <div>
        <h3 class="fs-poppins fs-300 text-black bold-700">Tổng tiền giỏ hàng</h3>

        <table>
            <thead class="thead fs-poppins text-black bold-700">
                <tr>
                    <td class="bg-very-light-gray">Giảm giá</td>
                    <td>$4,975.00</td>
                </tr>
            </thead>
            <thead class="thead fs-poppins text-black bold-700">
                <tr>
                    <td class="bg-very-light-gray">Total</td>
                    <td class="bold-700"> <input type="number" class="form-control" id="tongtien" readonly="readonly" /></td>
                </tr>
            </thead>
            <tbody>
        </table>
        <div class="grid">
            <button class="fs-poppins text-black bold-800 fs-300 bg-gray" id="order">Đặt hàng</button>
        </div>
    </div>

</section>


@section scripts{
    <script>

        var cart = {
            init: function () {
                cart.search(1);
                cart.order();
                $("#search").change(function () {
                    cart.search(1);
                });
                $("#order").click(function () {
                    cart.order();
                    cart.search(1);
                });


            },
            search: function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    url: '/Client/trangchu/Mycart/',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#tongtien").val(res.tong)
                    },
                });
            },
            order: function () {

                var name = $("#name").val();
                if (name == null || name == "") {
                    _layout.showtoast("Nhập tên người nhận hàng ");
                    return;
                }
                var sdt = $("#sdt").val();
                if (sdt == null || sdt == "") {
                    _layout.showtoast("Nhập SDT người nhận hàng ");
                    return;
                }
                var address = $("#address").val();
                if (address == null || address == "") {
                    _layout.showtoast("Nhập địa chỉ người nhận hàng ");
                    return;
                }
                var form = new FormData()
                form.append("name", name);
                form.append("sdt", sdt);
                form.append("address", address);
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Client/trangchu/Order/',
                    success: function (res) {
                        _layout.showtoast(res.mess);
                    },
                });
            },

            updateTotal: function (id) {
                var soluong = $("#qua_" + id).val();
                if (soluong < 0) {
                    _layout.showtoast("Số lượng mua phải lớn hơn 0 ");
                    return;
                }
                //if (soluong == 0) {
                //    var form = new FormData()
                //    form.append("id", id);
                //    $.ajax({
                //        type: 'POST',
                //        dataType: 'Json',
                //        contentType: false,
                //        processData: false,
                //        data: form,
                //        url: '/Client/trangchu/Delete/',
                //        success: function (res) {
                //            _layout.showtoast("Xóa sản phẩm thành công ");
                //            return;
                //        }
                //    });
                //}
                else {
                    var form = new FormData()
                    form.append("id", id);
                    form.append("soluong", soluong);
                    $.ajax({
                        type: 'POST',
                        dataType: 'Json',
                        contentType: false,
                        processData: false,
                        data: form,
                        url: '/Client/trangchu/updateTotal/',
                        success: function (res) {
                            $("#total_" + id).val(res.tongtien);
                            $("#tongtien").val(res.total);
                            _layout.showtoast("Đặt hàng thành công ");

                        }
                    });
                }
            }

        }
        cart.init();

    </script>
}
