

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}


<main class="hero-section">
    <div>
        <h1 class="fs-200 fs-poppins">
            Beats Solo
            <span class="block lineheight fs-300 bold-900 big-wireless fs-poppins">Wireless</span><span class="text-white fs-900 uppercase lineheight-2 bold-bolder fs-poppins">HeadPhone</span>
        </h1>
        <img src="~/Assets/User/image/image1.png" />

    </div>
    <div class="hero-inner flex">
        <div>
            <button class="large-btn bg-red text-white fs-poppins fs-50">
                Shop By Category
            </button>
        </div>
        <div class="hero-info">
            <h4 class="fs-montserrat">Description</h4>
            <p class="fs-montserrat">
                There are many variations passages of Lorem Ipsum available, but the
                majority have suffered alteration
            </p>
        </div>
    </div>
</main>

<section class="product-section">
    <div class="category bg-black grid">
        <div>
            <h3 class="text-white fs-50 fs-montserrat bold">
                Enjoy <span class="block fs-300 fs-poppins bold">With</span><span class="earphone uppercase fs-400 fs-montserrat bold-900 lineheight">Earphone</span>
            </h3>
            <button class="prdduct-btn large-btn text-white bg-red fs-montserrat">
                Browse
            </button>
        </div>
        <div class="product-img1">
            <img src="~/Assets/User/image/h.png" />

        </div>
    </div>
    <div class="category bg-yellow grid">
        <div>
            <h3 class="text-white fs-50 fs-montserrat bold">
                New <span class="block fs-300 fs-poppins bold">Wear</span><span class="earphone uppercase fs-400 fs-montserrat bold-900 lineheight">Gadget</span>
            </h3>
            <button class="prdduct-btn large-btn text-yellow bg-white fs-montserrat">
                Browse
            </button>
        </div>
        <div class="product-img2">
            <img src="~/Assets/User/image/w.png" />

        </div>
    </div>
    <div class="category bg-red grid">
        <div>
            <h3 class="text-white fs-50 fs-montserrat bold">
                Trend <span class="block fs-300 fs-poppins bold">Devices</span><span class="earphone uppercase fs-400 fs-poppins bold-900 lineheight">Laptop</span>
            </h3>
            <button class="prdduct-btn large-btn text-red bg-white fs-poppins">
                Browse
            </button>
        </div>
        <div class="product-img3">
            <img src="~/Assets/User/image/Laptop.png" />

        </div>
    </div>
    <div class="category bg-gray grid">
        <div>
            <h3 class="text-black fs-50 fs-poppins bold">
                Best
                <span class="block fs-300 fs-poppins bold text-black">Gaming</span><span class="earphone uppercase fs-400 fs-poppins bold-900 lineheight">Console</span>
            </h3>
            <button class="prdduct-btn large-btn text-white bg-red fs-poppins">
                Browse
            </button>
        </div>
        <div class="product-img4">
            <img src="~/Assets/User/image/gam.png" />

        </div>
    </div>
    <div class="category bg-green grid">
        <div>
            <h3 class="text-white fs-50 fs-poppins bold">
                Play <span class="block fs-300 fs-poppins bold">Game</span><span class="earphone uppercase fs-400 fs-poppins bold-900 lineheight">Oculus</span>
            </h3>
            <button class="prdduct-btn large-btn text-green bg-white fs-poppins">
                Browse
            </button>
        </div>
        <div class="product-img5">
            <img src="~/Assets/User/image/man2.png" />

        </div>
    </div>
    <div class="category bg-blue grid">
        <div>
            <h3 class="text-white fs-50 fs-poppins bold">
                New <span class="block fs-300 fs-poppins bold">Amazon</span><span class="earphone uppercase fs-400 fs-poppins bold-900 lineheight">speaker</span>
            </h3>
            <button class="prdduct-btn large-btn text-blue bg-white fs-poppins">
                Browse
            </button>
        </div>
        <div class="product-img6">
            <img src="~/Assets/User/image/mus.png" />

        </div>
    </div>
</section>

<section class="service-section">
    <div class="service">
        <img src="~/Assets/User/image/free.svg" />

        <div class="service-info">
            <h3 class="fs-poppins fs-200">Free Shippng</h3>
            <p class="fs-montserrat fs-50">Free Shipping On All Order</p>
        </div>
    </div>
    <div class="service">

        <img src="~/Assets/User/image/sett.svg" />
        <div class="service-info">
            <h3 class="fs-poppins fs-200">Money Guarantee</h3>
            <p class="fs-montserrat fs-50">30 Day Money Back</p>
        </div>
    </div>
    <div class="service">

        <img src="~/Assets/User/image/sup-1.svg" />
        <div class="service-info">
            <h3 class="fs-poppins fs-200">Online Support 24/7</h3>
            <p class="fs-montserrat fs-50">Technical Support 24/7</p>
        </div>
    </div>
    <div class="service">

        <img src="~/Assets/User/image/pay.svg" />
        <div class="service-info">
            <h3 class="fs-poppins fs-200">Secure Payment</h3>
            <p class="fs-montserrat fs-50">All Cards Accepted</p>
        </div>
    </div>
</section>

<section class="feature-section bg-red">
    <div class="feature-one grid">

        <img src="~/Assets/User/image/p-1.png" />
        <p class="text-white uppercase">20% OFF</p>
        <p class="font-size lineheight fs-500 text-white fs-poppins bold-900 uppercase">
            fine <span class="smile">smile</span>
        </p>
        <p class="text-white fs-poppins fs-50">15 Nov To & Dec</p>
    </div>
    <div class="feature-info">
        <h2 class="fs-200 text-white fs-poppins bold-500">Beats Solo Air</h2>
        <p class="fs-poppins fs-300 bold-800 text-white">Summer Sale</p>
        <p class="fs-montserrat text-white fs-50">
            Company that’s grown from 270 to 480 employees in the last 12 months.
        </p>
        <button class="prdduct-btn large-btn text-red bg-white fs-poppins">
            Shop
        </button>
    </div>
</section>
<!-- =============================Best Sellar================== -->

<section class="best-product container">
    <h2 class="letter-spacing bold-800 fs-poppins">Best Seller Products</h2>
    <p class="fs-montserrat fs-100">
        speakerThere are many variations passages
    </p>
</section>




<div class="modal fade" id="xemchitiet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>THÔNG TIN SẢN PHẨM</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <img id="img" src="" style="width:100%;height:100%;" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Tên sản phẩm
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="name" readonly="readonly" />
                                            <input type="number" class="form-control" hidden id="idsp" />

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Màu sắc
                                                </span>
                                            </div>

                                            <input type="text" class="form-control" id="color" readonly="readonly" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Xuất xứ
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="origin" readonly="readonly" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Đơn giá
                                                </span>
                                            </div>
                                            <input type="number" class="form-control" id="price" readonly="readonly" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Số lượng tồn kho
                                                </span>
                                            </div>
                                            <input type="number" class="form-control" id="number" readonly="readonly" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Số lượng mua
                                                </span>
                                            </div>
                                            <input type="number" class="form-control" min="1" id="quatity" value="1" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="AddCart" class="btn btn-primary" data-bs-dismiss="modal fade">Thêm vào giỏ hàng</button>
                                <button type="button" class="btn btn-secondary">Quay lại</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<div class="col-md-2">
    <input type="text" id="search" hidden />
</div>
<div class="col-md-2">
    @Html.DropDownList("Pagesize", new SelectList(ViewBag.Pagesize, "ID", "ID"), new { @class = "form-control" })
</div>
<section class="best-Seller" id="tbData">
</section>
<table>
    <tfoot>
        <tr>
            <th colspan="100" id="pages" style="width: 100px;height:100px;">

            </th>
        </tr>
    </tfoot>
</table>




<section class="feature-section bg-green">
    <div class="feature-green feature-one grid">
        <img src="~/Assets/User/image/p12.png" />

        <p class="text-white uppercase">20% OFF</p>
        <p class="font-size lineheight fs-500 text-white fs-poppins bold-900 uppercase">
            HAPPY <span class="smile">HOURSE</span>
        </p>
        <p class="text-white fs-poppins fs-50">15 Nov To & Dec</p>
    </div>
    <div class="feature-info">
        <h2 class="fs-200 text-white fs-poppins bold-500">Beats Solo Air</h2>
        <p class="fs-poppins fs-300 bold-800 text-white">Summer Sale</p>
        <p class="fs-montserrat text-white fs-50">
            Company that’s grown from 270 to 480 employees in the last 12 months.
        </p>
        <button class="prdduct-btn large-btn text-green bg-white fs-poppins">
            Shop
        </button>
    </div>
</section>
<!-- =========================================== -->
<!-- =================Heading recent News================================ -->
<section class="best-product container">
    <h2 class="letter-spacing bold-800 fs-poppins">Recent News</h2>
    <p class="fs-montserrat fs-100">There are many variations passages</p>
</section>
<!-- ============Recent News=========================== -->

<section class="recent-news grid">
    <div class="news grid">
        <img src="~/Assets/User/image/news-1.png" />

        <div class="fs-montserrat fs-100 flex padding-inline">
            <p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
        </div>
        <h2 class="fs-poppins padding-inline fs-200 blod-600">
            How to choose perfect gadgets
        </h2>
        <p class="fs-montserrat padding-inline fs-100">
            When, while the lovely valley teems with vapour around me, and the
            meridian sun strikes the upper s ...
        </p>
    </div>

    <div class="news grid">
        <img src="~/Assets/User/image/news-2.png" />

        <div class="fs-montserrat fs-100 flex padding-inline">
            <p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
        </div>
        <h2 class="fs-poppins padding-inline fs-200 blod-600">
            How to choose perfect gadgets
        </h2>
        <p class="fs-montserrat padding-inline fs-100">
            When, while the lovely valley teems with vapour around me, and the
            meridian sun strikes the upper s ...
        </p>
    </div>

    <div class="news grid">
        <img src="~/Assets/User/image/news-1.png" />

        <div class="post-date fs-montserrat fs-100 flex padding-inline">
            <p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
        </div>
        <h2 class="fs-poppins padding-inline fs-200 blod-600">
            How to choose perfect gadgets
        </h2>
        <p class="fs-montserrat padding-inline fs-100">
            When, while the lovely valley teems with vapour around me, and the
            meridian sun strikes the upper s ...
        </p>
    </div>
</section>
<!-- menu section ends -->
<!-- about section starts  -->

@section scripts{

    <script>

        var home = {
            init: function () {
                home.search(1);
                $("#search").change(function () {
                    home.search(1);
                });
                $("#Pagesize").change(function () {
                    home.search(1);
                });

                $('#xemchitiet').on('show.bs.modal', function (event) {

                    var button = $(event.relatedTarget)
                    var id = button.data('whatever');
                    home.getSanpham(id);
                });
                $("#AddCart").click(function () {
                    home.AddCart();
                });

            },

            search: function (index) {
                var name = $("#search").val();
                var size = $("#Pagesize").val();
                var form = new FormData()
                form.append("name", name);
                form.append("size", size);
                form.append("index", index);
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Client/trangchu/getHome/',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#pages").html(res.page);
                    },
                });
            },
            getSanpham: function (id) {

                $.ajax({
                    type: 'get',
                    dataType: 'Json',
                    url: '/Client/trangchu/getSanpham/' + id,
                    success: function (res) {
                        $("#idsp").val(res.data.ID);
                        $("#name").val(res.data.name);
                        $("#color").val(res.data.color);
                        $("#img").attr('src', res.data.img);
                        $("#price").val(res.data.price);
                        $("#origin").val(res.data.origin);
                        $("#number").val(res.data.quatity);
                    }
                });
            },
            AddCart: function () {
                var idsp = $('#idsp').val();
                var price = $('#price').val();
                var quatity = $('#quatity').val();

                var form = new FormData()
                form.append("idsp", idsp);
                form.append("quatity", quatity);
                form.append("price", price);

                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Client/trangchu/AddCart/',
                    success: function (res) {

                        if (res.state) {
                            _layout.showtoast(res.mess);

                        }
                        else {
                            window.location.href = "/Client/trangchu/Login";
                        }
                    },
                });
            },

        }



        home.init();
        function goto(i) {
            home.search(i);
        }
    </script>
}
